*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.headertop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-top: 0.5rem;
    
}
.headertop img{
    width: 3%;
}

.headerbottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    padding: 1rem 1rem;
    background-color: rgb(249, 243, 233);
}
.headerbottom .sticky{
    position: fixed;
    top: 0;
    width: 100%; 
}
#booknow{
    padding: 0.5rem 1rem;
    border: none;
    background-color: rgb(26, 26, 110);
    color: white;
    border-radius: 0.3rem;
}
#headercentre{
    text-decoration: none;
    color: black;
    display: none;
    padding:1rem 1rem;    
}
/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px)  {
    /* Your styles for small screens go here */
    .headertop img{
        width: 2%;
    }
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px)  {
    /* Your styles for medium screens go here */
    .headertop img{
        width: 2%;
    }
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px)  {
    /* Your styles for large screens go here */
    .headertop img{
        width: 1.6%;
    }
    #headercentre{
        display: flex;
    }
    #menu{
        display: none;
    }
}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
    .headertop img{
        width: 1%;
    }
   
}